[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm ci"
]

[phases.build]
cmds = [
  "npm run build --workspace=@arbme/core-lib",
  "npm run build --workspace=@arbme/nextjs",
  "cp -r packages/nextjs/.next/static packages/nextjs/.next/standalone/packages/nextjs/.next/static"
]

[start]
cmd = "npm run server --workspace=arbme-market-maker-bot"
