[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm ci"
]

[phases.build]
cmds = [
  "npm run build --workspace=@arbme/core-lib",
  "npm run build --workspace=@arbme/nextjs"
]

[start]
cmd = "npm run server --workspace=arbme-market-maker-bot"
